# .NET
bin/
obj/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
audit-archives/

# VS Code
.vscode/

# Visual Studio
.vs/

# Env files
.env
.env.*
!.env.example

# Mac/Windows
.DS_Store
Thumbs.db
development-email-outbox/
